USE [YDMDB]
GO
/****** Object:  Table [dbo].[prdAppSarong]    Script Date: 2017-08-28 9:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prdAppSarong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SarongNo] [nvarchar](20) NULL,
	[CageType] [nvarchar](5) NULL,
	[Department] [nvarchar](5) NOT NULL,
	[BatchType] [nvarchar](10) NOT NULL,
	[CountOfCategory] [int] NULL,
	[Remark] [nvarchar](50) NULL,
	[IsUsed] [nvarchar](2) NULL,
 CONSTRAINT [PK_Cage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[prdAppSarong] ON 

INSERT [dbo].[prdAppSarong] ([ID], [SarongNo], [CageType], [Department], [BatchType], [CountOfCategory], [Remark], [IsUsed]) VALUES (1012, N'AC01', N'轴笼', N'YD1', N'T01', 1, N'10轴笼', N'否')
INSERT [dbo].[prdAppSarong] ([ID], [SarongNo], [CageType], [Department], [BatchType], [CountOfCategory], [Remark], [IsUsed]) VALUES (1013, N'AC02', N'轴笼', N'YD1', N'T01', 1, N'10轴笼', N'否')
INSERT [dbo].[prdAppSarong] ([ID], [SarongNo], [CageType], [Department], [BatchType], [CountOfCategory], [Remark], [IsUsed]) VALUES (1014, N'AC03', N'轴笼', N'YD1', N'T01', 1, N'10轴笼', N'否')
GO
SET IDENTITY_INSERT [dbo].[prdAppSarong] OFF
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'自增ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'prdAppSarong', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'笼子序列号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'prdAppSarong', @level2type=N'COLUMN',@level2name=N'SarongNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'笼子类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'prdAppSarong', @level2type=N'COLUMN',@level2name=N'CageType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'prdAppSarong', @level2type=N'COLUMN',@level2name=N'Department'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'缸型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'prdAppSarong', @level2type=N'COLUMN',@level2name=N'BatchType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'此类型笼子个数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'prdAppSarong', @level2type=N'COLUMN',@level2name=N'CountOfCategory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'prdAppSarong', @level2type=N'COLUMN',@level2name=N'Remark'
GO
